---
/**
 * Reset Password Page
 * 
 * Renders the form for setting a new password after following a reset link
 * The token is expected to be in the URL hash (which is not accessible from SSR)
 * The React component will handle reading it from the client-side
 */

import AuthLayout from "../../layouts/AuthLayout.astro";
import { ResetPasswordForm } from "../../components/auth/ResetPasswordForm";

// In a real implementation, we would verify the token validity
// But as per instructions, we're not implementing backend functionality yet
const isValidToken = true;

// If the token is invalid, we would show an error message
if (!isValidToken) {
  return Astro.redirect("/auth/login?error=invalid_reset_link");
}
---

<AuthLayout title="Set New Password" description="Create a new password for your account">
  <ResetPasswordForm client:load />
  <div slot="footer">
    <p>© {new Date().getFullYear()} 10x Cards. All rights reserved.</p>
  </div>
</AuthLayout>


